<div class="heading">
    <div class="profile" >
    <img [src]="agentdp" width="60" height="60">
    <div>
        <h1>Agent</h1>
        <p>Last Seen:{{cuslastseen}}</p>
        
    </div>
    <i class="fa fa-ellipsis-v" id="fa" style="font-size:30px"></i>
    </div>
    
    </div>
    <div class="chat">
    <div  *ngFor="let me of cus2aget">
        <div [ngClass]="{'message':me.senderName=='Customer','message1':me.senderName=='Agent'}">
            
             <a>{{me.senderName}}:&nbsp;<br>{{me.msg}}</a><br>
             <a class="time">{{me.time |date:"HH:mm"}}</a>
         </div>

    </div>

        <input #mesg placeholder="Type a message"><i class="fa fa-send" (click)="sent(mesg.value)"style="font-size:30px"></i>
    </div>