<div class="heading">
    <div class="profile" >
        <img  [src]="customerdp" width="60" height="60">
        <div>
            <h1>Customer</h1>
            <p>Last Seen:{{antlastseen}}</p>
        </div>
        <i class="fa fa-ellipsis-v" id="fa" style="font-size:30px"></i>
        </div>
    </div>
    <div class="chat">
    <div  *ngFor="let me of cus2aget">
        <div >
            <div [ngClass]="{'message1':me.senderName=='Customer','message':me.senderName=='Agent'}">
            
                <a>{{me.senderName}}<br>{{me.msg}}</a><br>
                <a class="time">{{me.time |date:"HH:mm"}}</a>

            </div>
        </div>

    </div>
    <input #mesg placeholder="Type a message"><i (click)="sent(mesg.value)" class="fa fa-send" style="font-size:30px"></i>
</div>